footer {
    display: flex;
    justify-content: center;
    background-color: rgb(221, 241, 241);
    padding: 0.5em; 
    color: red;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.5em;
}