<header>

    <div class="imgNetflix">


    </div>
    <div>
        <nav class="navigation">
            <a routerLink="/peliculasTodas" routerLinkActive="active-link">
               <div class="imagen"></div>
            </a>
            <a routerLink="/peliculasFiltro" routerLinkActive="active-link">
                <span>Filtrar Peliculas</span>
            </a>
            <div class="isNotLoggedIn" *ngIf="!userService.getUser()">
                <a routerLink="/register" routerLinkActive="active-link">
                    <span>Register</span>
                </a>
                <a routerLink="/user/login" routerLinkActive="active-link">
                    <span>Log in</span>
                </a>
            </div>
            <div class="isLoggedIn" *ngIf="userService.getUser()">
                <a routerLink="/user/perfil" routerLinkActive="active-link">
                    <span>Perfil</span>
                </a>
                <a routerLink="/user/logout" routerLinkActive="active-link">
                    <span>Log out</span>
                </a>
            </div>

        </nav>
    </div>
</header>