header{
    padding-right: 1em;
    padding-left: 1em;
}

.navigation{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 241, 241);
    
    span{ 
        padding: 0.5em;
        border-radius: 0.5em;
        background-color: rgb(136, 136, 136);
    }

    a{
        text-decoration: none;
        align-self: center;
    }

    .isNotLoggedIn{
        display: flex;
        justify-content: space-between;
        width: 160px;
        align-self: center;
    }

    .isLoggedIn{
        display: flex;
        justify-content: space-between;
        width: 160px;
        align-self: center;
    }

    .active-link{
        span{
            background-color:blue;
            color: white;
        }
    }
}

.contenedorLogo {
    display: flex;
    width: 100%;
    height: 100px;
}

.logoAplicacion {
    background-image: url('../../../assets/images/logoAplicacion.png');
    height: 100px;
    width: 100px;
    background-position-x: 30%;
    position: absolute;
    padding-left: 200px;
    background-repeat: no-repeat;
}

.imgNetflix{
    background-image: url('../../../assets/images/logoNetflix.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-color: red;

}

.imagenHome{
    background-image: url('../../../assets/images/logoHome.png');
    width: 50px;
    height: 50px;
    
}

.imagenPerfil {
    background-image: url('../../../assets/images/profile.png');
    width: 62px;
    height: 50px;
}

.imagenLogout {
    background-image: url('../../../assets/images/logout.png');
    width: 53px;
    height: 50px;
}

.imagenLogIn {
    background-image: url('../../../assets/images/log-in.png');
    width: 50px;
    height: 50px;
}

.imagenSubscribe {
    background-image: url('../../../assets/images/register.png');
    width: 50px;
    height: 50px;
}

.imagenFiltrarPeliculas {
    background-image: url('../../../assets/images/filtrarPeliculas.png');
    width: 70px;
    height: 70px;
}