<header>

    <div class="imgNetflix">


    </div>
    <div>
        <nav class="navigation">
            <a routerLink="/peliculasTodas" routerLinkActive="active-link">
               <div class="imagenHome"></div>
            </a>
            <a routerLink="/peliculasFiltro" routerLinkActive="active-link">
                <div title= 'Filtrar Peliculas' class="imagenFiltrarPeliculas"></div>
            </a>
            <div class="isNotLoggedIn" *ngIf="!userService.getUser()">
                <a routerLink="/register" routerLinkActive="active-link">
                    <div title= 'Registrarse' class="imagenSubscribe"></div>
                </a>
                <a routerLink="/user/login" routerLinkActive="active-link">
                    <div title= 'Iniciar Sesion' class="imagenLogIn"></div>
                </a>
            </div>
            <div class="isLoggedIn" *ngIf="userService.getUser()">
                <a routerLink="/user/perfil" routerLinkActive="active-link">
                   <div title= 'Ver Perfil' class="imagenPerfil"></div>
                </a>
                <a routerLink="/user/logout" routerLinkActive="active-link">
                    <div title='Cerrar Sesion' class="imagenLogout"></div>
                </a>
            </div>

        </nav>
    </div>
</header>