<header>
    <nav class="navigation">
        <a routerLink="/discover" routerLinkActive="active-link">
            <span>Home</span>
        </a>
        <a routerLink="/movies/popular" routerLinkActive="active-link">
            <span>Popular Movies</span>
        </a>
        <a routerLink="movies/top_rated" routerLinkActive="active-link">
            <span>Top rated Movies</span>
        </a>
        <div class="isNotLoggedIn" *ngIf="!userService.getUser()">
            <a routerLink="/register" routerLinkActive="active-link">
                <span>Register</span>
            </a>
            <a routerLink="/user/login" routerLinkActive="active-link">
                <span>Log in</span>
            </a>
        </div>
        <div class="isLoggedIn" *ngIf="userService.getUser()">
            <a routerLink="/user/perfil" routerLinkActive="active-link">
                <span>Perfil</span>
            </a>
            <a routerLink="/user/logout" routerLinkActive="active-link">
                <span>Log out</span>
            </a>
        </div>
        
    </nav>
</header>