<form (submit)="alquilerPedido()" #form="ngForm" class="formAlquiler">

    <h1 class='titulo'><span>Realizar pedido para:</span>
        <span style="color: red">{{user.username}} - {{user.id}}</span>
    </h1>

    <mat-form-field>
        <input matInput required name="NumPedido" #numPedido [(ngModel)]="pedido.numPedido" placeholder="Num. Pedido">
    </mat-form-field>


    <div></div>
    <mat-form-field>
        <input matInput name="IdUsuario" #idUsuario [(ngModel)]="pedido.idUsuario" placeholder="Id Usuario"
            value='{{pedido.idUsuario}}' disabled>
    </mat-form-field>


    <div></div>

    <div></div>

    <mat-form-field>
        <input matInput name="TituloPelicula" #idUsuario [(ngModel)]="pedido.tituloPelicula" placeholder="Pelicula">
    </mat-form-field>

    <div></div>

    <div></div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Direccion" #direccion [(ngModel)]="pedido.direccion" name="Direccion">
    </mat-form-field>

    <div></div>

    <div></div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha Alquiler" #fechaAlquiler [(ngModel)]="pedido.fechaAlquiler"
            name="FechaAlquiler" disabled>
    </mat-form-field>

    <div></div>

    <div></div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha Entrega" #fechaEntega [(ngModel)]="pedido.fechaEntrega" name="FechaEntrega">
    </mat-form-field>

    <div></div>

    <button mat-raised-button>Alquilar</button>

</form>
{{res?.message}}