<form (submit)="alquilerPedido()" #form="ngForm" class="formAlquiler">

    <!-- <label for="">IdUsuario</label>
            <p>{{user.username}}</p> -->

    <h1 class='titulo'><span>Realizar pedido para:</span>
        <span style="color: red">{{user.nombre}} - {{user.id}}</span>
    </h1>

    <mat-form-field>
        <input matInput name="NumPedido" #numPedido [(ngModel)]="pedido.numPedido" placeholder="Num. Pedido">
    </mat-form-field>


    <div></div>

    <mat-form-field>
        <input matInput name="IdUsuario" #idUsuario [(ngModel)]="pedido.idUsuario" placeholder="Id Usuario"
            value={{user.id}}>
    </mat-form-field>

    <div></div>

    <div></div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Direccion" #direccion [(ngModel)]="pedido.direccion" name="Direccion">
    </mat-form-field>

    <div></div>

    <div></div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha Alquiler" #fechaAlquiler [(ngModel)]="pedido.fechaAlquiler"
            name="FechaAlquiler">
    </mat-form-field>

    <div></div>

    <div></div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha Entrega" #password [(ngModel)]="pedido.fechaEntrega" name="FechaEntrega">
    </mat-form-field>

    <div></div>

    <button mat-raised-button>Alquilar</button>

</form>