.tablaPedidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    td, tr{
        width: 22.5%;
        text-align: left;
    }

    th{
        width: 22.5%;
        padding: 10px;
        text-align: left;
        color: #f5bd85;
    }
}

.pedidos {
    padding: 1em;
}