
.movies{
    background-color: rgb(136, 136, 136);
    display: grid;
    grid-template: repeat(6,1fr) / repeat(6,1fr);
    .movie{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;
        padding: 0.8rem;
        border: solid 5px;
        
        h2{
            font-size: 1.2rem;
            color: orange;
        }
        img{
            width: 150px;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

// .movies {

// }

// .movie{

// }

// h2{

// }
//Es lo mismo que lo de arriba