<div class="contenedorFiltro">
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="genero" type="text" placeholder="Introduce un genero">

    </mat-form-field>
    <button (click)="buscarGenero()">Buscar</button>

</div>

<div class="contenedorFiltro">
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="titulo" type="text" placeholder="Introduce un titulo">

    </mat-form-field>
    <button (click)="buscarTitulo()">Buscar</button>
</div>

<div class="movies">
    <div class="movie" *ngFor="let pelicula of peliculas">
        <a routerLink="/pelicula/{{pelicula.id}}">
            <h2>{{pelicula.title}}</h2>
            <img src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}" alt="poster">
        </a>

    </div>

</div>